.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social:hover {
    transform: scale(1.2);
}

.social svg {
    height: 3rem;
    width: 3rem;
}